.candidate-profile{
    display: flex;
    flex-direction: column;
    min-width: 200px;
    justify-content: flex-start;
    
    .upload-section{
        display: flex;
    }
    
    .success-block{
        text-align: center;
        border: solid 0.5px #d0cdcd;
    }

    .instructions{
        margin-top: 60px;
    }
}